.env
*.user
*.suo
.vs/
bin/
obj/
node_modules/
dist/
logs/
*.log
postgres_data/

# macOS
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
